﻿@model todo_domain_entities.Models.ItemModel

@{
    @if (@Model.Id == Guid.Empty)
    {
        ViewBag.Title = "Add task";}
    else
    {
        ViewBag.Title = "Edit task";}
    Layout = "_Layout";
}

@using (Html.BeginForm("SaveTask", "Items", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.ToDoListId)
    <div class="modal-body">

        <div class="mb-3">
            @Html.LabelFor(x => x.Name, new {htmlAttributes = new {@class = "form-label"}})
            @Html.EditorFor(x => x.Name, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(x => x.Name)

        </div>
        <div class="mb-3">
            <label for="Description" class="form-label">Description</label>
            <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description">
        </div>

        <div class="mb-3">
            <label for="CompletionDate">CompletionDate</label>
            <input id="CompletionDate" class="form-control" type="date" name="CompletionDate" value="@Model.CompletionDate?.ToString("yyyy-MM-dd")"/>
            <span id="CompletionDateSelected"></span>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Get", "ToDoList", new {listId = Model.ToDoListId})'">Back</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
}