﻿@using todo_domain_entities.Models
@model todo_domain_entities.Models.ToDoListModel

@{
    ViewBag.Title = "List";
    Layout = "_Layout";
}

<div class="card" style="width: 30rem;">
    <ul class="list-group list-group-flush">
        <div class="btn-group" role="group" aria-label="Basic example">
            @using (Html.BeginForm("DeleteList", "ToDoList", new {listId = Model.Id}))
            {
                <button type="submit" name="X-HTTP-Method-Override" value="DELETE" class="btn btn-outline-primary" formnovalidate
                        class="cancel" onclick="return confirm('Are you sure?')">
                    Delete
                </button>
            }
            <button type="submit" class="btn btn-outline-primary" onclick="location.href='@Url.Action("Edit", "ToDoList", new {listId = Model.Id})'">Edit list</button>
        </div>

    </ul>

    <div class="card-header">
        <img src=@Model.Icon alt="..." class="img-circle">
        @Model.Name
    </div>

    <ol class="list-group list-group">
        @foreach (var i in Model.Items)
        {
            <li class="list-group-item d-flex justify-content-between align-items-start ">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">
                        <input id="cb-@i.Id" task-id="@i.Id" list-id="@i.ToDoList" class="form-check-input me-1 task-item" type="checkbox" @(i.Status == StatusItem.Completed ? "checked" : "")>

                        @i.Name
                    </div>
                    <div class="fw-gray">
                        @(i.CompletionDate != null ? "Completion date:" : "")
                        @i.CompletionDate?.ToString("dd.MM.yyyy")
                    </div>
                </div>
                <ul class="ul-w">
                    <li>
                        <button onclick="location.href='@Url.Action("EditItem", "Items", new {taskId = i.Id})'" class="badge bg-primary rounded-pill task-button">Edit</button>
                    </li>
                    <li>
                        @using (Html.BeginForm("DeleteTask", "Items", new {taskId = @i.Id}, FormMethod.Post))
                        {
                            <button type="submit" name="X-HTTP-Method-Override" value="DELETE" class="badge bg-primary rounded-pill task-button" formnovalidate
                                    class="cancel" onclick="return confirm('Are you sure?')">
                                Delete
                            </button>
                        }
                    </li>
                </ul>
            </li>
        }

        <div class="btn-group" role="group" aria-label="Basic example">
            <button onclick="location.href='@Url.Action("EditItem", "Items", new {listId = Model.Id})'" class="btn btn-outline-primary" type="button">Add task</button>
        </div>
    </ol>
</div>



@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
    $(document).on("click", ".task-item", function(){
        var status = $(this).is(':checked') ? 1 : 0;
        var id = $(this).attr("task-id");
        var listId = $(this).attr("list-id");
        $.post("/Items/UpdateStatus/"+id, {status: status,ToDoListId: listId }, function (json) {
        });
    });
    </script>


}