﻿@model List<todo_domain_entities.Models.ToDoListModel>

@{
        ViewBag.Title = "Lists";
        Layout = "_Layout";
}

<div class="lists-container">
    <div class="lists">
            @foreach (var p in Model)
            {
                <div class="todo-list" onclick="location.href='@Url.Action("Get", "ToDoList", new { listId = p.Id })'">
                    <div class="list-icon">
                        @if(!string.IsNullOrEmpty(p.Icon))
                        {
                        <img src=@p.Icon alt="..." class="img-circle">
                        }
                        else
                        {
                            <img src="img/no-pictures.png" alt="no picture" class="img-circle">
                        }
                   </div>
                    <div class="list-info">
                        <div class="list-head">
                            @p.Name
                        </div>
                        <div class="list-items-count">
                            @p.Items.Count tasks
                        </div>
                    </div>
                </div>
            }
    </div>
</div>




