﻿@model List<todo_domain_entities.Models.ToDoListModel>


<div class="lists-container">
    <div class="lists">
        @foreach (var p in Model)
        {
            <div class="todo-list">
                <div class="list-icon">
                    @if (!string.IsNullOrEmpty(p.Icon))
                    {
                        <img src=@p.Icon alt="..." class="img-circle">
                    }
                    else
                    {
                        <img src="img/no-pictures.png" alt="no picture" class="img-circle">
                    }
                </div>

                <div class="list-info">
                    <div class="list-head">
                        @p.Name
                    </div>

                    @foreach (var i in p.Items)
                    {
                        <div class="list-group">
                            <label class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="Name">
                                @i.Name
                            </label>
                        </div>
                    }
                </div>
            </div>
        }
    </div>

</div>