html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.lists-container{
  display: block;
}

.lists{
  display: table;
  margin: 0 auto;
}

.card{
  display: table;
  margin: 0 auto;
}

.todo-list{
  border: solid 1px gray;
  max-width: 90%;
  min-width: 300px;
  padding: 10px;
  margin: 5px;
  display: flex;
  border-radius: 5px;
  background-color: #d0d0f8;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.2);
}
.list-info{
  display: block;
}
.list-icon{
  padding: 5px;
}


.img-circle
{
  max-width: 50px;  
}

.task-button{
  min-width: 60px;
}

.ul-w {
  list-style-type: none;
}

.fw-gray{
  color: #a9a9a6;
  font-size: 13px;
}

.field-validation-error{
  color: red;
}